venv/
**/node_modules/
frontend/node_modules/
tmp/
tmp-frontend-build/
tmp-frontend-build-2/
tmp-frontend-build-3/
tmp-frontend-build-4/
tmp-frontend-build-5/
**/__pycache__/
.git/
.env
deploy/.env
data/
.idea/
.vscode/
frontend/.vite/
*.zip

